Repository kazupon/test-github-labeler, changes with the labels that .github/labeler.yml gives for each.
All labels: system1, system2

fix: test
  systems/system1/README.md
Labels: system1

update github action flow
  .github/workflows/label.yml
Labels: none

fix: update system2
  systems/system2/README.md
Labels: system2

fix: system2
  systems/system2/README.md
Labels: system2

fix: system2 (#3)
  systems/system2/README.md
Labels: system2

Revert "fix: system2 (#3)"
  systems/system2/README.md
Labels: system2

Revert "fix: system2 (#3)" (#4)
  systems/system2/README.md
Labels: system2

add workflow
  .github/workflows/remove.yml
Labels: none

add remoef workflow
  .github/workflows/remove.yml
Labels: none

fix: system1
  systems/system1/README.md
Labels: system1

fix: system1 (#5)
  systems/system1/README.md
Labels: system1

updates
  .github/workflows/label.yml
  .github/workflows/remove.yml
Labels: none

fix: system2
  systems/system2/README.md
Labels: system2

fix: system2 (#6)
  systems/system2/README.md
Labels: system2

updates
  .github/workflows/remove.yml
Labels: none

fix: system2
  systems/system2/README.md
Labels: system2

fix: system2 (#7)
  systems/system2/README.md
Labels: system2

update remove workflow
  .github/workflows/remove.yml
Labels: none

fix: system1
  systems/system1/README.md
Labels: system1

fix: system1 (#8)
  systems/system1/README.md
Labels: system1

update workflow
  .github/workflows/remove.yml
Labels: none

fix: system1
  systems/system1/README.md
Labels: system1

fix: system1 (#9)
  systems/system1/README.md
Labels: system1

update workflow
  .github/workflows/remove.yml
Labels: none

fix: system1
  systems/system1/README.md
Labels: system1

fix: system1 (#10)
  systems/system1/README.md
Labels: system1

update
  .github/workflows/remove.yml
Labels: none

fix: system1
  systems/system1/README.md
Labels: system1

fix: system1 (#11)
  systems/system1/README.md
Labels: system1

update
  .github/workflows/remove.yml
Labels: none

fix: system2
  systems/system2/README.md
Labels: system2

fix: system2 (#12)
  systems/system2/README.md
Labels: system2

update
  .github/workflows/remove.yml
Labels: none

fix: system2
  systems/system2/README.md
Labels: system2

fix: system2 (#13)
  systems/system2/README.md
Labels: system2

.github/labeler.yml:

system1:
- systems/system1/**/*

system2:
- any: ['systems/system2/**/*']
